{% load humanize %}
    <section id="hero-section">
        <h1 class="fs-3">Philippine Stock Exchange Index</h1>
        <h2 class="fs-6 text-secondary">PSEI Portfolio Value</h2>
        <!-- insert the current PSEI value here -->
        {% comment %} <span class="main-value fs-1 fw-bold">PHP{{ current_price|intcomma }}</span> {% endcomment %}
        <span class="main-value fs-1 fw-bold">PHP10,000.00</span>

        <!-- insert here the current stock prices -->
        {% include 'stockApp/includes/current-price.html' %}
    </section>
