{% load static %}
<section id="stocks-forecasting">
    <h1 class="fs-3">Stocks Forecasting</h1>
    <h2 class="fs-6 text-secondary">Monte Carlo Simulation Algorithm</h2>

    <div class="stocks-buttons">
        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" name="update-btn" class="btn btn-dark">Update</button>
        </form>
    </div>

    <div class="graph-container py-4">
        <img src="{% static 'images/graph/forecast_graph.png' %}" alt="forecast-graph" class="img-fluid">
        <h3>This is the graph</h3>
    </div>

    <h4>This is the other graph</h4>
</section>